@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1440px;
    height: 926px;
}
body{
    background: var(--color-background);
}
.background{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head .bottom{
    position: absolute;
    bottom: 150px;
}
#img1{
    align-items: end;
}