:root{
    --color-background:rgb(165, 36, 4);
    --color-white:rgb(254, 255, 254);
    --color-black:rgb(8, 8, 8);
    --color-yellow:rgb(228, 184, 75);
}
@font-face {
    font-family: WorkSans-Bold;
    src: url(/storage/font/WorkSans-Bold.ttf);
}
@font-face {
    font-family: WorkSans-Light;
    src: url(/storage/font/WorkSans-Light.ttf);
}
@font-face {
    font-family: WorkSans-Medium;
    src: url(/storage/font/WorkSans-Medium.ttf);
}